/* start Nav */
.navbar {
  position: fixed;
  left: 1rem;
  top: 0%;
  padding: 0 10px 5px;
  width: calc(100% - 2rem - 20px);
  border-radius: 0 0 20px 20px;
  background-color: var(--color-pri);
  z-index: 3;
}

.navbar .logo-search {
  gap: 2rem;
}
.navbar .logo-search .logo svg {
  margin-left: 0.5rem;
  width: 50px;
  height: 50px;
  transform: scale(0.55) translateY(-0.5rem);
  transform: scale(2.8);
  position: relative;
  z-index: -1;
  -webkit-transform: scale(2.8);
  -moz-transform: scale(2.8);
  -ms-transform: scale(2.8);
  -o-transform: scale(2.8);
}
.navbar .search {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border-width: 0.1rem;
  padding: 0.2rem;
  border-color: var(--color-text);
  border-style: solid;
  transition: 200ms;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.navbar .search input {
  border-radius: 20px 0 0 20px;
  text-indent: 0.5rem;
  border: none;
  outline: none;
}

.navbar .search a {
  transition: 200ms;
  border: none;
  background-color: var(--color-ac-dark);
  cursor: pointer;
  margin: -0.1rem;
  position: absolute;
  width: 1.5rem;
  right: 0;
  top: -10%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 729px) {
  .navbar .search a {
    padding: 0.1rem;
  }
}
.navbar .search a:hover {
  background-color: var(--color-text);
}
.navbar .search a svg {
  transition: 200ms;
  transform: translateY(10%);
  margin: auto;
  color: var(--color-pri) !important;
}

@media (max-width: 420px) {
  .navbar .search {
    width: 65px;
  }
}
@media (max-width: 290px) {
  .navbar {
    width: 75%;
  }
  .navbar .search {
    display: none;
  }
}

.navbar .links {
  gap: 0.4rem;
}
.navbar .links a {
  transition: transform 200ms, color 200ms;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: transform 200ms, color 200ms;
  -moz-transition: transform 200ms, color 200ms;
  -ms-transition: transform 200ms, color 200ms;
  -o-transition: transform 200ms, color 200ms;
  box-shadow: 4px 3px #22222229;
}
.navbar .links a svg {
  transition: color 200ms ease-in-out;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -ms-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
}

.navbar .links > * {
  transition: transform 200ms;
}
.navbar .links:not(.links-small) a:hover {
  color: var(--color-ac-dark) !important;
}
.navbar .links a:hover svg {
  outline: none;
  color: var(--color-ac-dark);
}
.navbar .links span:nth-child(2) {
  white-space: nowrap;
}
.navbar .links-small {
  transition: 200ms;
  position: absolute;
  right: 1rem;
  flex-direction: column;
  width: 95%;
  z-index: 2;
  gap: 0.3rem;
}
.navbar .links-small.hide {
  transform: translateY(-60%) scaleY(0.6);
  opacity: 0;
  pointer-events: none;
}

.navbar .links-small svg {
  color: var(--color-pri) !important;
  color: inherit;
  margin-inline: 0.5rem;
}
.navbar .menu-btn {
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
  background-color: var(--color-pri);
}

@keyframes btn-animation {
  50% {
    background-color: rgb(230, 230, 230);
  }
  100% {
    background-color: var(--color-pri);
  }
}

.navbar .links-small a {
  padding: 0.8rem 1rem;
  border-radius: 20px;
  color: var(--color-pri) !important;
  background-color: var(--color-ac-dark);
  border-bottom: var(--color-text) solid 1px;
}
.navbar .categories {
  background-color: var(--color-ac-dark);
  gap: 2rem;
  padding: 8px 30px;
  border-radius: 15px;
}
.navbar .categories a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.125rem;
  color: var(--color-pri);
  transition: 200ms;
}
.navbar + * {
  margin-top: 7.5rem !important;
}
/* End Nav */
